{{ $currentNode := . }}

{{ range .Site.Menus.main.ByWeight }}

{{ $.Scratch.Set "currentMenuEntry" . }}
<li>
  {{ partial "nav_link" $currentNode }}  
  {{ if .HasChildren }}
  <li>
    {{ $currentURL := .URL }}

    {{ range $.Site.Pages }}
      {{ if eq (printf "%s%s" $.Site.BaseURL $currentURL) ( printf "%s" .Permalink) }}
      <span class="section">{{ .Section | title }}</span>
      {{ end }}
    {{ end }}

    <ul>
      {{ range .Children }}
        {{ $.Scratch.Set "currentMenuEntry" . }}
        {{ partial "nav_link" $currentNode }}  
      {{ end }}
    </ul>
  </li>
  {{ end }}
</li>
{{ end }}
